lib-button {
    display: inline-grid;
}

lib-button:has(.c-lib-button-block) {
    display: block;
}

.c-lib-button-ripple {
    position: absolute;
    background: @button-ripple-bg;
    border-radius: @button-round-border-radius;
    pointer-events: none;
    transform: scale(0);
}

.c-lib-button {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: @button-font-weight;
    font-size: @button-font-size;
    white-space: nowrap;
    box-shadow: @button-box-shadow;
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: @button-height;
    padding: @button-padding;
    border: @button-border-width solid @button-border-color;
    border-radius: @button-border-radius;
    box-sizing: border-box;
}

.c-lib-button-primary {
    background-color: @button-primary-bg;
    color: @button-primary-color;
    border-color: @button-primary-bg;
}

.c-lib-button-secondary {
    background-color: @button-secondary-bg;
    color: @button-primary-color;
    border-color: @button-secondary-bg;
}

.c-lib-button-tertiary {
    background-color: @button-tertiary-bg;
    color: @button-primary-color;
    border-color: @button-tertiary-bg;
}

.c-lib-button-success {
    background-color: @button-success-bg;
    color: @button-success-color;
    border-color: @button-success-bg;
}

.c-lib-button-light {
    background-color: @button-light-bg;
    color: @button-success-color;
    border-color: @button-light-bg;
}

.c-lib-button-warning {
    background-color: @button-warning-bg;
    color: @button-success-color;
    border-color: @button-warning-bg;
}

.c-lib-button-danger {
    background-color: @button-danger-bg;
    color: @button-primary-color;
    border-color: @button-danger-bg;
}

.c-lib-button-dark {
    background-color: @button-dark-bg;
    color: @button-primary-color;
    border-color: @button-dark-bg;
}

.c-lib-button-medium {
    background-color: @button-medium-bg;
    color: @button-primary-color;
    border-color: @button-medium-bg;
}

.c-lib-button-ghost {
    background-color: transparent;
    color: @button-dark-bg;
    box-shadow: none;
}

.c-lib-button-large {
    padding: @button-large-padding;
    font-size: @button-large-font-size;
    height: @button-large-height;
}

.c-lib-button-disabled {
    color: @button-disabled-color;
    border-color: @button-disabled-color;
    background: @button-disabled-bg;
}

.c-lib-button-icon {
    margin-right: 4px;
}

.c-lib-button-small {
    padding: @button-small-padding;
    font-size: @button-small-font-size;
    height: @button-small-height;
}

.c-lib-button-circle {
    border-radius: @button-circle-border-radius;
}

.c-lib-button-round {
    border-radius: @button-round-border-radius;
}

.c-lib-button-dashed {
    border-style: dashed;
}

.c-lib-button-link {
    border: none;
    background: none;
    color: @button-link-color;
    box-shadow: none;
}

.c-lib-button-text {
    border: none;
    background: none;
    color: @button-success-color;
    box-shadow: none;
}

.c-lib-button-block {
    display: block;
    text-align: center;
}