.c-lib-message {
    color: @message-color;
    font-size: @message-font-size;
    line-height: 1.5;
    display: block;
    width: 100%;
    text-align: center;
}

.c-lib-message-item {
    padding: @message-item-padding;
    border-radius: @message-item-border-radius;
    box-shadow: @message-item-shadow;
    background: @message-item-bg;
    pointer-events: auto;
    display: inline-block;
    max-width: calc(100vw - 48px);
    min-width: @message-item-min-width;
}

.c-lib-message-content {
    display: flex;
    align-items: baseline;
    gap: @message-content-gap;
}

.c-lib-message-icon {
    display: flex;
    align-items: flex-start;
    font-size: @message-icon-font-size;
}

.c-lib-message-text {
    font-size: @message-text-font-size;
    display: flex;
    align-items: center;
}

.c-lib-message-close-container {
    display: flex;
    align-items: flex-start;

    .c-lib-message-close {
        cursor: pointer;
    }
}

// 消息容器样式
.c-lib-message-container {
    pointer-events: none;
    z-index: @z-index-message;
}

// 消息包装容器样式
.c-lib-message-wrapper {
    pointer-events: auto;
    margin-bottom: @message-wrapper-margin-bottom;
    display: flex;
    justify-content: center;
}