.c-lib-message {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    width: 100%;
    text-align: center;
}

.c-lib-message-item {
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background: #ffffff;
    pointer-events: auto;
    display: inline-block;
    max-width: calc(100vw - 48px);
    min-width: 150px;
}

.c-lib-message-content {
    display: flex;
    align-items: baseline;
    position: relative;
    gap: 12px;
}

.c-lib-message-icon {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
}

.c-lib-message-text {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.c-lib-message-close-container {
    display: flex;
    align-items: flex-start;

    .c-lib-message-close {
        cursor: pointer;
    }
}

// 消息容器样式
.c-lib-message-container {
    pointer-events: none;
    z-index: 1010;
}


// 消息包装容器样式
.c-lib-message-wrapper {
    pointer-events: auto;
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
}