.c-lib-modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1090;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 24px 0;
}

.c-lib-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: @modal-mask-bg;
    z-index: -1;
}

.c-lib-modal-content {
    position: relative;
    background-color: @modal-bg;
    border-radius: @modal-border-radius;
    box-shadow: @modal-shadow;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: @modal-max-width;
    max-height: @modal-max-height;

    .c-lib-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @modal-header-padding;
        color: @modal-header-text-color;
        background: @modal-bg;
        border-bottom: @modal-header-border-bottom;
        border-radius: @modal-border-radius @modal-border-radius 0 0;

        .c-lib-modal-draggable {
            cursor: move;
            user-select: none;
        }
    }

    .c-lib-modal-body {
        display: flex;
        flex-direction: column;
        padding: 24px;
        overflow: auto;
        flex: 1;
    }

    .c-lib-modal-footer {
        display: flex;
        justify-content: flex-end;
        padding: @modal-footer-padding;
        background: @modal-footer-bg;
        border-top: @modal-footer-border-top;
        border-radius: 0 0 4px 4px;
    }

    .c-lib-modal-close {
        z-index: 10;
        color: @modal-close-color;
        font-weight: 700;
        cursor: pointer;
        transition: color @transition-duration-base;

        &:hover {
            color: @modal-close-hover-color;
        }
    }
}