.c-lib-segmented {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: @segmented-bg;
    align-items: stretch;
    border-radius: @segmented-border-radius;
    padding: @segmented-padding;
    max-width: 100%;
    gap: @segmented-gap;

    &-container {
        position: relative;
        flex: 1;
        min-width: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    &-group {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        width: fit-content;
        min-width: 100%;
    }

    &-item {
        position: relative;
        color: @segmented-item-color;
        height: @segmented-item-height;
        padding: @segmented-item-padding;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all @transition-duration-base;
        flex: 0 0 auto;
        z-index: 2;

        &-label {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        &-icon {
            margin-right: 4px;
        }

        &-selected {
            color: @segmented-item-selected-color;
        }

        &-disabled {
            color: @segmented-item-disabled-color;
            cursor: not-allowed;
        }
    }

    &-thumb {
        position: absolute;
        background-color: @segmented-thumb-bg;
        border-radius: @segmented-thumb-border-radius;
        box-shadow: @segmented-thumb-shadow;
        transition: all @transition-duration-base cubic-bezier(0.4, 0, 0.2, 1);
        height: 100%;
        z-index: 1;
        width: 0;
    }

    &-nav {
        flex: 0 0 @segmented-nav-size;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @segmented-nav-bg;
        border-radius: @segmented-nav-border-radius;
        cursor: pointer;
        z-index: 3;
        transition: all @transition-duration-base;
        color: @segmented-nav-color;
        box-shadow: @segmented-nav-shadow;

        &:hover {
            background-color: @segmented-nav-hover-bg;
            color: @segmented-nav-hover-color;
        }

        &-disabled {
            cursor: not-allowed;
            color: @segmented-item-disabled-color;
            box-shadow: none;

            &:hover {
                background-color: @segmented-nav-bg;
                color: @segmented-item-disabled-color;
            }
        }

        &-icon {
            border-style: solid;
        }
    }

    &-prev {
        .c-lib-segmented-nav-icon {
            border-width: 4.5px 6px 4.5px 0;
            border-color: transparent currentColor transparent transparent;
        }
    }

    &-next {
        .c-lib-segmented-nav-icon {
            border-width: 4.5px 0 4.5px 6px;
            border-color: transparent transparent transparent currentColor;
        }
    }

    &-block {
        display: flex;
        width: 100%;

        .c-lib-segmented-group {
            justify-content: space-between;
        }

        .c-lib-segmented-item {
            flex: 1 1 0%;
        }
    }

    &-lg {
        padding: 4px;

        .c-lib-segmented-item {
            height: @segmented-large-item-height;
            font-size: @segmented-large-item-font-size;
        }

        .c-lib-segmented-nav {
            flex-basis: @segmented-large-nav-size;

            &-icon {
                border-width: 6px 8px 6px 0;
            }
        }

        .c-lib-segmented-next .c-lib-segmented-nav-icon {
            border-width: 6px 0 6px 8px;
        }
    }

    &-sm {
        padding: 1px;

        .c-lib-segmented-item {
            font-size: @segmented-small-item-font-size;
        }

        .c-lib-segmented-nav {
            flex-basis: @segmented-small-nav-size;

            &-icon {
                border-width: 3px 4px 3px 0;
            }
        }

        .c-lib-segmented-next .c-lib-segmented-nav-icon {
            border-width: 3px 0 3px 4px;
        }
    }

    &-disabled {
        cursor: not-allowed;

        .c-lib-segmented-item {
            color: @segmented-item-disabled-color;
            cursor: not-allowed;
        }

        .c-lib-segmented-thumb {
            background-color: @segmented-disabled-thumb-bg;
            box-shadow: none;
        }

        .c-lib-segmented-nav {
            cursor: not-allowed;
            color: @segmented-item-disabled-color;

            &:hover {
                color: @segmented-item-disabled-color;
                background-color: @segmented-disabled-thumb-bg;
            }
        }
    }
}

.c-lib-segmented-item:not(.c-lib-segmented-item-disabled):hover {
    color: @segmented-item-selected-color;
}

.c-lib-segmented-item:not(.c-lib-segmented-item-disabled):active {
    color: @segmented-item-selected-color;
}