lib-select-box {
    display: inline-block;
    width: 100%;
}

lib-select {
    display: block;
}

.c-lib-select-basic-search-box {
    margin-left: 4px;
    max-width: 100%;
    position: relative;

    .c-lib-select-basic-search-text {
        visibility: hidden;
        position: absolute;
        left: 0px;
        white-space: nowrap;
    }

    .c-lib-select-basic-search-input {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        appearance: none;
        width: 10px;
    }
}

.c-lib-select-basic-tag {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    background-color: @select-tag-bg;
    color: @select-tag-color;
    border-radius: @select-tag-border-radius;
    cursor: default;
    box-sizing: border-box;
    transition: all 300ms;
    border: @select-tag-border;
    box-shadow: @shadow-level-1;
    white-space: nowrap;
    overflow: hidden;

    .c-lib-select-basic-tag-text-box {
        padding-right: @spacing-xs;
        line-height: normal;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .c-lib-select-basic-tag-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .c-lib-select-basic-tag-close-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        pointer-events: all;
        border-radius: 2px;
        transition: all 300ms;
        flex: 0 0 auto;

        &:hover {
            background-color: @select-tag-close-hover-bg;
        }
    }

    &:hover {
        background-color: @select-tag-bg;
    }
}

.c-lib-select-basic-tag-base {
    padding: @select-tag-padding;
    height: @select-tag-height;

    .c-lib-select-basic-tag-close-icon {
        width: 14px;
        height: 14px;
    }
}

.c-lib-select-basic-tag-sm {
    padding: @select-tag-small-padding;
    height: @select-tag-small-height;
    border-radius: @select-tag-border-radius;

    .c-lib-select-basic-tag-close-icon {
        width: 12px;
        height: 12px;
    }
}

.c-lib-select-basic-tag-lg {
    padding: @select-tag-large-padding;
    height: @select-tag-large-height;

    .c-lib-select-basic-tag-close-icon {
        width: 16px;
        height: 16px;
    }
}

.c-lib-select-basic-box {
    background-color: @select-box-bg;
    border: @select-box-border-width solid @select-box-border-color;
    border-radius: @select-box-border-radius;
    transition: all 300ms;
    min-height: @select-box-min-height;
    font-size: @select-box-font-size;
    cursor: pointer;
    line-height: normal;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    &:hover {
        border-color: @select-box-hover-border-color;
    }

    &.c-lib-select-basic-box-active {
        border-color: @select-box-active-border-color;
        box-shadow: @select-box-active-shadow;
        outline: none;
    }

    .c-lib-select-basic-search-input {
        height: 22px;
    }

    &.c-lib-select-basic-box-lg {
        min-height: @select-box-large-min-height;
        font-size: @select-box-large-font-size;

        .c-lib-select-basic-box-content {
            min-height: 30px;
        }

        .c-lib-select-basic-box-placeholder,
        .c-lib-select-basic-box-singal-data {
            font-size: 16px;
            padding-left: 11px;
        }

        .c-lib-select-basic-search-input {
            height: 30px;
        }
    }

    &.c-lib-select-basic-box-sm {
        min-height: @select-box-small-min-height;
        font-size: @select-box-font-size;

        .c-lib-select-basic-box-content {
            min-height: 14px;
        }

        .c-lib-select-basic-box-placeholder,
        .c-lib-select-basic-box-singal-data {
            font-size: 14px;
            padding-left: 11px;
        }

        .c-lib-select-basic-box-suffix {
            min-width: @input-small-height;
            max-width: @input-small-height;
            height: 100%;
        }

        .c-lib-select-basic-search-box {
            margin-left: 2px;

            .c-lib-select-basic-search-input {
                height: 14px;
            }
        }
    }

    &.c-lib-select-basic-box-borderless {
        border: none;
        box-shadow: none;
    }

    &.c-lib-select-basic-box-error {
        border: @select-box-border-width solid @input-error-border-color;

        &.c-lib-select-basic-box-active {
            border: @select-box-border-width solid @input-error-border-color;
            box-shadow: @input-error-shadow;
        }
    }

    &.c-lib-select-basic-box-warning {
        border: @select-box-border-width solid @input-warning-border-color;

        &.c-lib-select-basic-box-active {
            border: @select-box-border-width solid @input-warning-border-color;
            box-shadow: @input-warning-shadow;
        }
    }

    .c-lib-select-basic-box-content {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 4px 0 4px 11px;
        min-height: 22px;
        position: relative;
        gap: 0px;
        align-items: center;
        max-width: calc(100% - 32px);
        overflow: hidden;
    }

    .c-lib-select-basic-box-suffix {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 32px;
        max-width: 32px;
        height: 100%;
        margin-left: auto;

        .c-lib-select-basic-box-clear-icon {
            display: none;
            color: @input-disabled-color;
            transition: all 300ms;

            &:hover {
                color: @input-prefix-suffix-color;
            }
        }

        .c-lib-select-basic-box-icon {
            transition: all 300ms;
            color: @input-prefix-suffix-color;
        }

        .c-lib-select-basic-box-icon-clear {
            display: block;
        }

        .c-lib-select-basic-box-loading-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            .c-lib-select-basic-box-loading-svg {
                animation: rotate 1.2s linear infinite;
                color: @button-primary-bg;
            }
        }
    }

    &:hover {
        .c-lib-select-basic-box-suffix {
            .c-lib-select-basic-box-clear-icon {
                display: flex;
            }

            .c-lib-select-basic-box-icon-clear {
                display: none;
            }
        }
    }
}

.c-lib-select-basic-box-placeholder {
    display: flex;
    align-items: center;
    padding-left: 11px;
    color: @input-placeholder-color;
    position: absolute;
    height: 100%;
    line-height: normal;
    max-width: calc(100% - 32px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .c-lib-select-basic-box-placeholder-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.c-lib-select-basic-box-singal-data {
    padding-left: 11px;
    color: @input-color;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}

.c-lib-select-basic-box-singal-data-gray {
    color: @input-disabled-color;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.c-lib-select-basic-box-disabled {
    cursor: not-allowed;
    background-color: @input-disabled-bg;
    color: @input-disabled-color;
    border-color: @input-disabled-color !important;

    .c-lib-select-basic-box-content,
    .c-lib-select-basic-box-suffix {
        pointer-events: none;
    }
}

.c-lib-select-basic-box-search-component {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

.c-lib-select-basic-box-tag-component {
    display: inline-flex;
    margin: 2px;
    max-width: 100%;
}