.c-lib-select-hover-options,
.c-lib-select-option-active {
    background-color: #f5f5f5;
}

.c-lib-select-option-base() {
    padding: 5px 12px;
    display: flex;
    align-items: center;
    height: 32px;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    border-radius: 0;
    transition: background-color 300ms;

    &:hover,
    &.c-lib-select-option-active {
        background-color: #f5f5f5;
    }

    &-disabled {
        color: #d9d9d9;
        cursor: not-allowed;
        pointer-events: all;
        background-color: transparent;

        &:hover,
        &.c-lib-select-option-active {
            background-color: transparent;
        }
    }

    &-hidden {
        display: none !important;
    }
}

.c-lib-select-option-selected-base() {
    background-color: rgba(24, 144, 255, 0.06) !important;
    font-weight: 500;
    color: rgba(24, 144, 255, 0.67);
}

.c-lib-select-empty-container-base() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 64px 16px;

    .c-lib-select-empty-icon {
        margin-bottom: 8px;
        color: rgba(0, 0, 0, 0.15);
    }

    .c-lib-select-empty-text {
        color: #d9d9d9;
        font-size: 14px;
    }
}

.c-lib-select-dropdown {
    background: #ffffff;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin: 4px 0;
    border-radius: 4px;
    overflow: hidden;
    transform-origin: 0 0;
    opacity: 0;
    transform: scaleY(0.1);
    transition: opacity 300ms, transform 300ms;

    &.c-lib-select-dropdown-visible {
        opacity: 1;
        transform: scaleY(1);
    }

    .c-lib-select-empty-options {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #d9d9d9;
        font-size: 14px;
    }

    .c-lib-select-empty-container {
        .c-lib-select-empty-container-base();
    }
}

.c-lib-select-option-list {
    flex-grow: 1;
    overflow: auto;
    max-height: 256px;

    .c-lib-select-option-option {
        .c-lib-select-option {
            .c-lib-select-option-base();
        }

        .c-lib-select-select-option {
            .c-lib-select-option-selected-base();
        }
    }
}

.c-lib-select-option-group {
    .c-lib-select-option {
        .c-lib-select-option-base();
    }

    .c-lib-select-select-option {
        .c-lib-select-option-selected-base();
    }
}

.c-lib-select-group-title {
    padding: 5px 12px;
    font-size: 12px;
    color: #d9d9d9;
    background-color: rgba(0, 0, 0, 0.02);
    font-weight: 500;
}

.c-lib-select-virtual-scroll-container {
    height: 100%;
    width: 100%;
}

.cdk-virtual-scroll-content-wrapper {
    max-width: 100%;
}

.c-lib-select-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    will-change: scroll-position;

    .c-lib-select-option {
        padding: 5px 12px;
        display: grid;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 32px;
        cursor: pointer;
        font-size: 14px;
        color: #000000;
        border-radius: 0;
        transition: background-color 300ms;

        .c-lib-select-option-text {
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            background-color: #f5f5f5;
        }

        &-disabled {
            color: #d9d9d9;
            cursor: not-allowed;

            &:hover {
                background-color: transparent;
            }
        }

        &-hidden {
            display: none !important;
        }
    }

    .c-lib-select-select-option {
        .c-lib-select-option-selected-base();
    }
}

.c-lib-select-padding-left-8 {
    padding-left: 8px;
}


.c-lib-select-remote-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    .c-lib-select-loading-text {
        color: #d9d9d9;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}