lib-select-box {
    display: inline-block;
    width: 100%;
}

lib-select {
    display: block;
}

.c-lib-select-basic-search-box {
    margin-left: 4px;
    max-width: 100%;
    position: relative;

    .c-lib-select-basic-search-text {
        visibility: hidden;
        position: absolute;
        left: 0px;
        white-space: nowrap;
    }

    .c-lib-select-basic-search-input {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        appearance: none;
        width: 10px;
    }
}

.c-lib-select-basic-tag {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    background-color: rgba(24, 144, 255, 0.06);
    color: rgba(24, 144, 255, 0.67);
    border-radius: 2px;
    cursor: default;
    box-sizing: border-box;
    transition: all 300ms;
    border: 1px solid rgba(24, 144, 255, 0.12);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02);
    white-space: nowrap;
    overflow: hidden;

    .c-lib-select-basic-tag-text-box {
        padding-right: 4px;
        line-height: normal;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .c-lib-select-basic-tag-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .c-lib-select-basic-tag-close-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        pointer-events: all;
        border-radius: 2px;
        transition: all 300ms;
        flex: 0 0 auto;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }

    &:hover {
        background-color: rgba(24, 144, 255, 0.08);
    }
}

.c-lib-select-basic-tag-base {
    padding: 0 8px;
    height: 24px;

    .c-lib-select-basic-tag-close-icon {
        width: 14px;
        height: 14px;
    }
}

.c-lib-select-basic-tag-sm {
    padding: 0 6px;
    height: 20px;
    border-radius: 2px;

    .c-lib-select-basic-tag-close-icon {
        width: 12px;
        height: 12px;
    }
}

.c-lib-select-basic-tag-lg {
    padding: 0 10px;
    height: 30px;

    .c-lib-select-basic-tag-close-icon {
        width: 16px;
        height: 16px;
    }
}

.c-lib-select-basic-box {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 300ms;
    min-height: 32px;
    font-size: 14px;
    cursor: pointer;
    line-height: normal;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    &:hover {
        border-color: #1890ff;
    }

    &.c-lib-select-basic-box-active {
        border-color: #1890ff;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        outline: none;
    }

    .c-lib-select-basic-search-input {
        height: 22px;
    }

    &.c-lib-select-basic-box-lg {
        min-height: 40px;
        font-size: 16px;

        .c-lib-select-basic-box-content {
            min-height: 30px;
        }

        .c-lib-select-basic-box-placeholder,
        .c-lib-select-basic-box-singal-data {
            font-size: 16px;
            padding-left: 11px;
        }

        .c-lib-select-basic-search-input {
            height: 30px;
        }
    }

    &.c-lib-select-basic-box-sm {
        min-height: 24px;
        font-size: 14px;

        .c-lib-select-basic-box-content {
            min-height: 14px;
        }

        .c-lib-select-basic-box-placeholder,
        .c-lib-select-basic-box-singal-data {
            font-size: 14px;
            padding-left: 11px;
        }

        .c-lib-select-basic-box-suffix {
            min-width: 24px;
            max-width: 24px;
            height: 100%;
        }

        .c-lib-select-basic-search-box {
            margin-left: 2px;

            .c-lib-select-basic-search-input {
                height: 14px;
            }
        }
    }

    &.c-lib-select-basic-box-borderless {
        border: none;
        box-shadow: none;
    }

    &.c-lib-select-basic-box-error {
        border: 1px solid #ff4d4f;

        &.c-lib-select-basic-box-active {
            border: 1px solid #ff4d4f;
            box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
        }
    }

    &.c-lib-select-basic-box-warning {
        border: 1px solid #ffc409;

        &.c-lib-select-basic-box-active {
            border: 1px solid #ffc409;
            box-shadow: 0 0 0 2px rgba(255, 196, 9, 0.2);
        }
    }

    .c-lib-select-basic-box-content {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 4px 0 4px 11px;
        min-height: 22px;
        position: relative;
        gap: 0px;
        align-items: center;
        max-width: calc(100% - 32px);
        overflow: hidden;
    }

    .c-lib-select-basic-box-suffix {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 32px;
        max-width: 32px;
        height: 100%;
        margin-left: auto;

        .c-lib-select-basic-box-clear-icon {
            display: none;
            color: #d9d9d9;
            transition: all 300ms;

            &:hover {
                color: #434343;
            }
        }

        .c-lib-select-basic-box-icon {
            transition: all 300ms;
            color: #434343;
        }

        .c-lib-select-basic-box-icon-clear {
            display: block;
        }

        .c-lib-select-basic-box-loading-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            .c-lib-select-basic-box-loading-svg {
                animation: rotate 1.2s linear infinite;
                color: rgba(24, 144, 255, 0.6);
            }
        }
    }

    &:hover {
        .c-lib-select-basic-box-suffix {
            .c-lib-select-basic-box-clear-icon {
                display: flex;
            }

            .c-lib-select-basic-box-icon-clear {
                display: none;
            }
        }
    }
}

.c-lib-select-basic-box-placeholder {
    display: flex;
    align-items: center;
    padding-left: 11px;
    color: #d9d9d9;
    position: absolute;
    height: 100%;
    line-height: normal;
    max-width: calc(100% - 32px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .c-lib-select-basic-box-placeholder-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.c-lib-select-basic-box-singal-data {
    padding-left: 11px;
    color: #000000;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: normal;
}

.c-lib-select-basic-box-singal-data-gray {
    color: #d9d9d9;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.c-lib-select-basic-box-disabled {
    cursor: not-allowed;
    background-color: #f5f5f5;
    color: #d9d9d9;
    border-color: #d9d9d9 !important;

    .c-lib-select-basic-box-content,
    .c-lib-select-basic-box-suffix {
        pointer-events: none;
    }
}

.c-lib-select-basic-box-search-component {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

.c-lib-select-basic-box-tag-component {
    display: inline-flex;
    margin: 2px;
    max-width: 100%;
}