.c-lib-slider {
  &-container {
    position: relative;
    height: 14px;
    margin: 14px 6px 10px;
    padding: 5px 0;
    cursor: pointer;
  }

  &-rail {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 2px;
    transition: background-color 0.3s;
  }

  &-track {
    position: absolute;
    height: 4px;
    background-color: #1890ff;
    border-radius: 2px;
  }

  &-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    background-color: #ffffff;
    z-index: 3;
    border: 2px solid #1890ff;
    border-radius: 90px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);

    &:hover,
    &:active {
      border-color: #1890ff;
      box-shadow: 0 4px 12px rgba(24, 144, 255, 0.12);
    }
  }

  &-marks {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
  }

  &-mark {
    position: absolute;
    transform: translateX(-50%);

    &::before {
      content: '';
      position: absolute;
      top: -12px;
      left: 50%;
      z-index: 1;
      width: 8px;
      height: 8px;
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 90px;
      transform: translateX(-50%);
    }

    &-text {
      position: absolute;
      display: inline-block;
      color: #434343;
      text-align: center;
      word-break: keep-all;
      white-space: nowrap;
      transform: translateX(-50%);
      user-select: none;
      font-size: 12px;
      margin-top: 8px;
    }
  }

  &-with-marks {
    margin-bottom: 28px;
  }
}