.c-lib-slider {
  &-container {
    position: relative;
    height: @slider-container-height;
    margin: @slider-container-margin;
    padding: @slider-container-padding;
    cursor: pointer;
  }

  &-rail {
    position: absolute;
    width: 100%;
    height: @slider-rail-height;
    background-color: @slider-rail-bg;
    border-radius: @slider-rail-border-radius;
    transition: background-color @transition-duration-base;
  }

  &-track {
    position: absolute;
    height: @slider-track-height;
    background-color: @slider-track-bg;
    border-radius: @slider-track-border-radius;
  }

  &-handle {
    position: absolute;
    width: @slider-handle-size;
    height: @slider-handle-size;
    margin-top: @slider-handle-margin-top;
    background-color: @slider-handle-bg;
    z-index: 3;
    border: @slider-handle-border;
    border-radius: @slider-handle-border-radius;
    box-shadow: @slider-handle-shadow;
    cursor: pointer;
    transform: translateX(-50%);

    &:hover,
    &:active {
      border-color: @slider-track-bg;
      box-shadow: @slider-handle-hover-shadow;
    }
  }

  &-marks {
    position: absolute;
    top: @slider-mark-top;
    left: 0;
    width: 100%;
  }

  &-mark {
    position: absolute;
    transform: translateX(-50%);

    div {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &::before {
      content: '';
      position: absolute;
      top: -16px;
      left: 50%;
      z-index: 1;
      width: @slider-mark-dot-size;
      height: @slider-mark-dot-size;
      background-color: @slider-mark-dot-bg;
      border: @slider-mark-dot-border;
      border-radius: @slider-mark-dot-border-radius;
      transform: translate(-50%);
    }

    &-text {
      position: absolute;
      display: inline-block;
      color: @slider-mark-text-color;
      text-align: center;
      word-break: keep-all;
      white-space: nowrap;
      transform: translateX(-50%);
      user-select: none;
      font-size: @slider-mark-text-font-size;
      margin-top: @slider-mark-text-margin-top;
    }
  }

  &-with-marks {
    margin-bottom: @slider-with-marks-margin-bottom;
  }
}