.c-lib-tag {
    display: inline-block;
    padding: @tag-padding;
    font-size: @tag-font-size;
    white-space: nowrap;
    border-radius: @tag-border-radius;
    border: 1px solid transparent;
    cursor: default;
    transition: all @transition-duration-fast;

    &.c-lib-tag-checkable {
        cursor: pointer;

        &:hover {
            opacity: 0.85;
        }

        &:active {
            opacity: 0.8;
        }
    }

    .c-lib-tag-close-icon {
        display: inline-block;
        margin-left: @tag-close-icon-margin-left;
        color: inherit;
        font-size: @tag-close-icon-font-size;
        cursor: pointer;
    }
}

.c-lib-tag-disabled {
    opacity: @tag-disabled-opacity;
    pointer-events: none;
}