.c-lib-tooltip {
    position: relative;
    max-width: @tooltip-max-width;
    padding: @tooltip-padding;
    color: @tooltip-color;
    background-color: @tooltip-bg;
    border-radius: @tooltip-border-radius;
    box-shadow: @tooltip-shadow;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s cubic-bezier(0.78, 0.14, 0.15, 0.86), transform 0.2s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    font-size: @tooltip-font-size;

    &.c-lib-tooltip-visible {
        opacity: 1;
        transform: scale(1);
    }

    .c-lib-tooltip-content {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .c-lib-tooltip-arrow {
        position: absolute;
        width: @tooltip-arrow-size;
        height: @tooltip-arrow-size;
        background: @tooltip-bg;
        transform: rotate(45deg);
    }

    // 基础方向
    &.c-lib-tooltip-top {
        .c-lib-tooltip-arrow {
            bottom: -2.5px;
            left: 50%;
            margin-left: -2.5px;
        }
    }

    &.c-lib-tooltip-bottom {
        .c-lib-tooltip-arrow {
            top: -2.5px;
            left: 50%;
            margin-left: -2.5px;
        }
    }

    &.c-lib-tooltip-left {
        .c-lib-tooltip-arrow {
            top: 50%;
            right: -2.5px;
            margin-top: -2.5px;
        }
    }

    &.c-lib-tooltip-right {
        .c-lib-tooltip-arrow {
            top: 50%;
            left: -2.5px;
            margin-top: -2.5px;
        }
    }

    // 左侧系列
    &.c-lib-tooltip-left-top {
        .c-lib-tooltip-arrow {
            top: 12px;
            right: -2.5px;
        }
    }

    &.c-lib-tooltip-left-bottom {
        .c-lib-tooltip-arrow {
            bottom: 12px;
            right: -2.5px;
        }
    }

    // 右侧系列
    &.c-lib-tooltip-right-top {
        .c-lib-tooltip-arrow {
            top: 12px;
            left: -2.5px;
        }
    }

    &.c-lib-tooltip-right-bottom {
        .c-lib-tooltip-arrow {
            bottom: 12px;
            left: -2.5px;
        }
    }

    // 顶部系列
    &.c-lib-tooltip-top-left {
        .c-lib-tooltip-arrow {
            bottom: -2.5px;
            left: 12px;
        }
    }

    &.c-lib-tooltip-top-right {
        .c-lib-tooltip-arrow {
            bottom: -2.5px;
            right: 12px;
        }
    }

    // 底部系列
    &.c-lib-tooltip-bottom-left {
        .c-lib-tooltip-arrow {
            top: -2.5px;
            left: 12px;
        }
    }

    &.c-lib-tooltip-bottom-right {
        .c-lib-tooltip-arrow {
            top: -2.5px;
            right: 12px;
        }
    }
}