// 下拉菜单
.c-lib-tree-select-dropdown {
    background-color: @tree-select-dropdown-bg;
    box-shadow: @tree-select-dropdown-shadow;
    border-radius: @tree-select-dropdown-border-radius;
    transform-origin: 0 0;
    transition: all @transition-duration-fast;
    opacity: 0;
    transform: scaleY(0.1);
    z-index: 1000;

    &.c-lib-tree-select-dropdown-visible {
        opacity: 1;
        transform: scaleY(1);
    }

    .c-lib-tree-select-container {
        width: 100%;
        overflow-y: auto;
        position: relative;
    }
}